/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: 50px;
    top: -50px;
    color: #ffffff;
    font-size: 70px;
}

.sun {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #F9BF30;
    border-radius: 50%;
    top: 250px;
    left: 630px;
}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: -600px;
    top: -260px;
    color: white;
}

img {
    top: 850px;
    left: 90px;
    width: 600px;
    height: 400px;
    position: absolute;
}

h3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: 260px;
    top: -240px;
    color: #ffffff;
}

h4 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: 260px;
    top: -240px;
    color: #ffffff;
}

h5 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: 15px;
    top: 0px;
    color: #ffffff;
    
}

h6 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: 100px;
    top: -50px;
    color: #ffffff;
    font-size: 70px;
}

h7 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    position: relative;
    left: 130px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h8 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
    left: 170px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h9 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: relative;
    left: 210px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h10 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 250px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h11 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: relative;
    left: 290px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h12 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position: relative;
    left: 330px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h13 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: relative;
    left: 370px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h14 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    position: relative;
    left: 410px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h15 {
    font-family: "Montserrat", bold, serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    position: relative;
    left: 450px;
    top: -80px;
    color: #ffffff;
    font-size: 30px;
}

h16 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    position: relative;
    left: -743px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h17 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    position: relative;
    left: -670px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h18 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    position: relative;
    left: -593px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h19 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    position: relative;
    left: -540px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h20 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    position: relative;
    left: -510px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h21 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    position: relative;
    left: -470px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h22 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    position: relative;
    left: -435px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h23 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    position: relative;
    left: -400px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h24 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    position: relative;
    left: -360px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h25 {
    font-family: "Montserrat",  serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    position: relative;
    left: -360px;
    top: 30px;
    color: #ffffff;
    font-size: 30px;
}

h26 {
    font-family: "Montserrat Alternates", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    position: relative;
    left: 40px;
    top: -170px;
    color: #ffffff;
    font-size: 150px;
}


.montserrat-underline-<uniquifier> {
    font-family: "Montserrat Alternates", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

h27 {
    font-family: "Montserrat Underline",  sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: relative;
    left: -220px;
    top: 160px;
    color: #ffffff;
    font-size: 150px;
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

p1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    right: 834px;
    top: 1250px;
    width: 600px;
    padding: 10px;
    color: white;
    text-align: left;
}

p2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 31px;
    position: absolute;
    right: -50px;
    left: -30px;
    color: white;
}

p3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 31px;
    position: absolute;
    right: 22px;
    top: 850px;
    width: 750px;
    border: 3px solid #ffffff;
    padding: 10px;
    color: white;
    text-align: left;
}

h4 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    position: relative;
    left: 260px;
    top: -240px;
    color: #ffffff;
}


/*Sticky Navigation*/
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #ffffff;
    color: azure;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0.1);
    z-index: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 30px;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a:hover{
    background: white;
    color:#ff4d6d
    border-radius: 5xp;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.btn {
  background-color: #44a3f1;
  border: none;
  color: white;
  padding: 28px 28px;
  text-align: center;
  font-size: 25px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: "Montserrat", serif;
  font-weight: 300;
  top: -100px;
  left: 1520px;
  position: relative;
}

.btn:hover {opacity: 1}

.btn2 {
  background-color: #44a3f1;
  border: none;
  color: white;
  padding: 28px 28px;
  text-align: center;
  font-size: 25px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: "Montserrat", serif;
  font-weight: 400;
  top: -10px;
  left: 680px;
  position: relative;
}

.btn2:hover {opacity: 1}

.btn3 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 500;
    top: 81px;
    left: -128px;
    position: relative;
}

.btn3:hover {opacity: 1}

.btn4 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 600;
    top: 240px;
    left: -880px;
    position: relative;
}

.btn4:hover {opacity: 1}
  
.btn5 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 300;
    top: -100px;
    left: -625px;
    position: relative;
}

.btn5:hover {opacity: 1}

.btn6 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 300;
    top: -10px;
    left: -920px;
    position: relative;
}

.btn6:hover {opacity: 1}

.btn7 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 300;
    top: 170px;
    left: -1215px;
    position: relative;
}

.btn7:hover {opacity: 1}

.btn8 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 300;
    top: 80px;
    left: -1480px;
    position: relative;
}

.btn8:hover {opacity: 1}

.btn9 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 300;
    top: 260px;
    left: -1745px;
    position: relative;
}

.btn9:hover {opacity: 1}

.btn10 {
    background-color: #44a3f1;
    border: none;
    color: white;
    padding: 28px 28px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 300;
    top: -230px;
    left: -2780px;
    position: relative;
  }
  
  .btn:hover {opacity: 1}

#home{
    background: #44a3f1;
}

#example-text{
    background: #44A3f1;
}

#alternatives{
    background: #44A3f1;
}

#about{
    background: #F9BF30;
}

#glyphs{
    background: #F9BF30;
}

.footer {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    color: #000000;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0.1);
    z-index: 1000;
    font-family: "Montserrat", sans-serif;
}

.animatedText {
    animation: fadeAndScale 2s ease-in;
}

@keyframes fadeAndScale {
    from {
    opacity: 0;
    transform: scale3d(.75, .75, .75)
    }

    to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    }
}

.animatedText2: :hover{
    animation: heartBeat 1.5s infinite
}

@keyframes heartBeat{
    from{
        transform: scale(1);
    }
    15%{
        transform: scale(1.5);
    }

    20%{
        transform: scale(1);
    }

    42%{
        transform: scale(1.5);
    }

    70%{
        transform: scale(1);
    }
}
